/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;&display=swap');

/*VARIABLES CSS*/

/* O seletor CSS :root serve para acessar o elemento raiz do documento, ou seja, define o escopo global da variável, tornando-a acessível em todo o documento HTML. 

Para declarar variáveis no CSS, deve-se:
1- Usar o seletor :root{}
2- Iniciar a declaração das variáveis com --
3- Atribuir um valor */
:root {
    /* Altura do cabeçalho, usada para definir uma altura consistente para cabeçalhos */
    --header-height: 3rem;

    /* CORES */
    --hue-color: 206; /* Define o tom base para a paleta de cores (usado nas variáveis HSL) */
    --black-color: hsl(var(--hue-color), 4%, 4%); /* Cor principal preta com baixa saturação e brilho */
    --black-color-alt: hsl(var(--hue-color), 4%, 8%); /* Variante da cor preta, um pouco mais clara */
    --title-color: hsl(var(--hue-color), 4%, 95%); /* Cor do título, quase branca, para contraste em fundos escuros */
    --text-color: hsl(var(--hue-color), 4%, 75%); /* Cor do texto padrão, cinza claro */
    --text-color-light: hsl(var(--hue-color), 4%, 65%); /* Versão mais clara do texto, para subtítulos ou legendas */
    --white-color: #FFF; /* Cor branca pura */
    --body-color: hsl(var(--hue-color), 4%, 6%); /* Cor de fundo principal do corpo, quase preta */
    --container-color: hsl(var(--hue-color), 4%, 10%); /* Cor de fundo dos contêineres, ligeiramente mais clara que o fundo */
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%)); /* Gradiente para o texto, indo de cinza médio a preto */
    --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%); /* Cor da barra de rolagem */
    --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%); /* Variante um pouco mais clara para estados alternativos de rolagem */

    /* FONTES E TIPOGRAFIA */
    --body-font: 'Poppins', serif; /* Fonte principal usada no corpo do documento */
    --biggest-font-size: 5rem; /* Tamanho da maior fonte, geralmente usada para cabeçalhos principais */
    --bigger-font-size: 3.5rem; /* Tamanho de fonte grande para subtítulos ou seções */
    --big-font-size: 2.5rem; /* Fonte de tamanho médio-grande */
    --h2-font-size: 1.25rem; /* Tamanho da fonte para o subtítulo H2 */
    --h3-font-size: 1.125rem; /* Tamanho da fonte para o subtítulo H3 */
    --normal-font-size: .938rem; /* Tamanho de fonte padrão para o corpo do texto */
    --small-font-size: .813rem; /* Fonte de tamanho pequeno, ideal para rodapés e anotações */
    --smaller-font-size: 75rem; /* Tamanho da fonte menor para detalhes ou textos secundários */
    --text-line-height: 2rem; /* Altura da linha para espaçamento vertical entre linhas de texto */

    /* PESO DA FONTE */
    --font-medium: 500; /* Peso de fonte médio */
    --font-semi-bold: 600; /* Peso de fonte seminegrito */

    /* MARGENS INFERIORES */
    --mb-0-5: .5rem; /* Margem inferior de 0,5rem */
    --mb-0-75: .75rem; /* Margem inferior de 0,75rem */
    --mb-1: 1rem; /* Margem inferior de 1rem */
    --mb-1-5: 1.5rem; /* Margem inferior de 1,5rem */
    --mb-2: 2rem; /* Margem inferior de 2rem */
    --mb2-5: 2.5rem; /* Margem inferior de 2,5rem */

    /* NÍVEIS DE Z-INDEX */
    --z-tooltip: 10; /* Z-index para tooltips, garantindo que fiquem sobrepostos a outros elementos */
    --z-fixed: 100; /* Z-index alto para elementos fixos como cabeçalhos fixos */
}

 /* RESPONSIVE TYPOGRAPHY */
/* Aplica regras de tipografia quando a largura da tela for maior ou igual a 968px */
@media screen and (min-width: 968px) {
    :root{
        /* Define variáveis CSS para tamanhos de fonte responsivos */
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
/* Aplica um modelo de caixa padrão, removendo espaçamentos padrão */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Habilita a rolagem suave ao navegar pela página */
html{
    scroll-behavior: smooth;
}

/* Define estilos básicos para o corpo da página */
body{
    margin: var(--header-height) 0 0 0; /* Adiciona margem no topo com base na altura do cabeçalho */
    font-family: var(--body-font); /* Usa a fonte definida na variável CSS */
    font-size: var(--normal-font-size); /* Define o tamanho do texto padrão */
    background-color: var(--body-color); /* Define a cor de fundo da página */
    color: var(--text-color); /* Define a cor do texto principal */
}

/* Define a cor dos títulos h1, h2 e h3 */
h1, h2, h3{
    color: var(--title-color);
}

/* Remove os estilos padrão das listas, tornando-as sem marcadores */
ul{
    list-style: none;
}

/* Remove a decoração de links */
a{
    text-decoration: none;
}

/* Remove as bordas e contornos padrão de botões e inputs */
button, input{
    border: none;
    outline: none;
}

/* Define o cursor como ponteiro ao passar sobre botões */
button{
    cursor: pointer;
}

/* Garante que imagens não ultrapassem o tamanho do contêiner */
img{
    max-width: 100%;
    height: auto;
}


/* REUSABLE CSS CLASSES */
/* Define espaçamento padrão para seções */
.section{
    padding: 4rem 0 2rem;
}

/* Define o estilo do título da seção */
.section__title{
    font-size: var(--bigger-font-size); /* Usa a variável CSS para tamanho do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: var(--mb-2-5); /* Define margem inferior */
}

/* Aplica um gradiente ao título da seção */
.section__title-gradient{
    background: var(--text-gradient); /* Define um fundo com gradiente */
    color: transparent; /* Torna a cor do texto transparente */
    -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto no WebKit */
    background-clip: text; /* Aplica o gradiente apenas ao texto */
}


/* LAYOUT */
/* Esconde o overflow da página, útil para animações e imagens */
.main{
    overflow: hidden; /* Evita que elementos animados causem barras de rolagem */
}

/* Define a largura máxima do conteúdo e centraliza horizontalmente */
.container{
    max-width: 968px; /* Define a largura máxima */
    margin-left: var(--mb-1-5); /* Margem à esquerda */
    margin-right: var(--mb-1-5); /* Margem à direita */
}

/* Define uma estrutura de grade para elementos */
.grid{
    display: grid; /* Ativa o layout de grade */
}

/* HEADER */

/* NAV*/

/* SHOW MENU */

